<!--The header of the website-->

<!--This is the navbar of the website-->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<style>
    @media (min-width: 750px) and (max-width: 1000px) {
        .insta {
            width: 42px;
        }
        .dropdown-menu{
            font-size: 30px !important;
        }
    }
</style>
<link rel="icon" href="../../images/akhriasli.png">
</head>

<body>
    <header class="fixed-top fixed-right" style="background-color:#fff">

        <div id="top" style="display: flex; margin-bottom: -15px">

            <ul class="mr-auto" style="list-style-type: none; display: flex; float: left; padding-top: 5px">
                <li style="color: black;">+92 3111827777</li>
                <li style="padding-left: 10px; color: black;">PK</li>
            </ul>
            <ul style="list-style-type: none; display: flex; margin-right: 25px" class="ml-auto">
                <li>
                    <a href="http://Facebook.com/chickencottagepak" target="_blank"><i style="color: #3b5998;"
                            class="fab fa-facebook fa-lg icons"></i>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </li>
                <!-- <li>
                    <a href="https://www.instagram.com/chickencottagepak/" target="_blank"><img class="insta"
                            style=" margin-right: 10px; margin-top: 0; position: relative; bottom: 3px;"
                            src="https://img.icons8.com/fluent/28/000000/instagram-new.png" />&nbsp&nbsp&nbsp
                    </a>
                </li> -->
                <li>
                    <a href="https://www.instagram.com/chickencottagepak/" target="_blank"><i style="color: #E1306C;"
                            class="fab fa-instagram fa-lg"></i>&nbsp&nbsp&nbsp&nbsp
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/chickencottag10w" target="_blank"><i style="color: #00acee;"
                            class="fab fa-twitter fa-lg icons"></i>&nbsp&nbsp&nbsp&nbsp</a>
                </li>
                <li>
                    <a href=" https://youtube.com/channel/UCrO6VTD6p97-_iIsgnCFxYA" target="_blank"><i
                            style="color:#c4302b;" class="fab fa-youtube fa-lg icons"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr style="height: 2px; margin-bottom: 0; border-width: 0; background-color:#8b0000; margin-top: 0" />
        <nav style="margin-top: -10px; border-bottom: 1px solid #8b0000; text-align: center;min-height: 20%;"
            class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand nav-logo" href="/"><img style="width: 110px; height: 110px"
                    src="./images/akhriasli.png" alt="" /></a>
            <button style="margin-right: 29%;" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/ourfood" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          OUR FOOD
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: center;">
                          <a class="dropdown-item" href="/ourfood">OUR FOOD</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/crispy">Crispy</a>
                          <a class="dropdown-item" href="#">Grilled</a>
                          <a class="dropdown-item" href="#">BBQ</a>
                          <a class="dropdown-item" href="/burger">Burgers</a>
                          <a class="dropdown-item" href="#">Wraps</a>
                          <a class="dropdown-item" href="#">Vegetarian</a>
                          <a class="dropdown-item" href="#">Salad</a> 
                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/franchise">FRANCHISE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact-us">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>