<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/aboutus-Style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <%- include('partials/header'); %>

  <section id="title-img">
    <div class="container-fluid" style="padding: 5%">
      <img src="../images/aboutus.jpg" alt="" style="width: 100%" />
    </div>
  </section>
  <!--***HISTORY***-->
  <section id="history">
    <div class="container">
      <h1 style="color: red; font-weight: 700">OUR HISTORY</h1>
    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: red; margin-top: 0" />
    <br><br>
    <div class="container" style="background-color: white; border: 1px solid red; padding: 1%">
      <p>The first CHICKEN COTTAGE restaurant was opened in Wembley, North London in 1994 and it was there the CHICKEN
        COTTAGE concept began to take shape.</p>
      <p>Our immediate goal then, was the creation of a unique taste, closely followed by the conception of a memorable
        logo and individual brand identity.</p>
      <p>We were determined to introduce a product that would not only be successful in the UK but around the world. We
        realised that winning the ‘battle of the globals’ lay upon the novel taste of our product.</p>
      <p>When it came to the taste, this is where the founder’s passion for cooking and experimentation really came into
        its own, developing products that were set to become core to the success of CHICKEN COTTAGE in our global reach.
      </p>
      <p>CHICKEN COTTAGE is wholly owned by TI Global Food Holdings Ltd incorporated in Labuan, Malaysia. Which comes
        under the Terengganu State Government of Malaysia.</p>
      <p>
        CHICKEN COTTAGE is one of the fastest growing British franchise opportunities. Our specialty menu was devised to
        be a bit different from the traditional fast food. Our food is Fresh, Appetizing, Halal, highly Convenient and
        Affordable. It
        has proved to be a rapid success with the growth of multiple restaurants around the country and overseas.
      </p>
      <p>
        The company’s global presence has been firmly established and it has demonstrated the ability to possess the
        organisational strength for further growth, proving time and time over that it not only has a concept that can
        be loved by all but
        also had the organisational maturity and strength to meet the challenges that global expansion provides.
      </p>
    </div>
  </section>
  <!--****VISION*****-->
  <section id="vision">
    <div class="container">
      <h1 style="color: #0154a2; font-weight: 700">OUR VISION</h1>
    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: #0154a2; margin-top: 0" />
    <br><br>
    <div class="container" style="background-color: white; border: 1px solid red; padding: 1%">
      <p>
        CHICKEN COTTAGE is more than just a quick service restaurant. It is where customers will go out of their way to
        bring their family for good old fashioned family time while enjoying the quality of service, atmosphere and
        above all, the taste
        of our food. CHICKEN COTTAGE is unlike any other quick service restaurants where it mixes values with quality
        and speedy service that comes with care.
      </p>
      <p>It has got the heritage and familiarity of a large chain, but it feels like a liberated restaurant, thanks to
        the team that works there and the values it was built upon.</p>
    </div>
  </section>
  <!--***MISSION*****-->
  <section id="mission">
    <div class="container">
      <h1 style="color: red; font-weight: 700">OUR MISSION</h1>
    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: red; margin-top: 0" />
    <br><br>
    <div class="container" style="background-color: white; border: 1px solid red; padding: 1%">
      <p>
        <span style="color: red">Organisation – </span> CHICKEN COTTAGE is more than just a quick service restaurant. It
        is where customers will go out of their way to bring their family for good old fashioned family time while
        enjoying the quality
        of service, atmosphere and above all, the taste of our food. CHICKEN COTTAGE is unlike any other quick service
        restaurants where it mixes values with quality and speedy service that comes with care.
      </p>
      <p><span style="color: red">Business – </span> It has got the heritage and familiarity of a large chain, but it
        feels like a liberated restaurant, thanks to the team that works there and the values it was built upon.</p>
      <p><span style="color: red">Yield – </span> It has got the heritage and familiarity of a large chain, but it feels
        like a liberated restaurant, thanks to the team that works there and the values it was built upon.</p>
      <p><span style="color: red">Innovative – </span> It has got the heritage and familiarity of a large chain, but it
        feels like a liberated restaurant, thanks to the team that works there and the values it was built upon.</p>

    </div>
  </section>

  <!--****OUR GLOBAL POSITION****-->
  <section id="globalmission">
    <div class="container">

      <h1 style="color: #0154a2; font-weight: 700">OUR GLOBAL POSITION</h1>

    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: #0154a2; margin-top: 0" />
    <br><br>
    <div class="container" style="background-color: white; border: 1px solid red; padding: 1%">
      <img src="../images/world.jpg" alt="" style="padding: 1%; width: 100%" />
      <p>
        Backed with solid brand awareness, our Business Development team had successfully identified the franchise
        opportunities outside the UK. CHICKEN COTTAGE has expanded significantly where franchisees are already trading
        in Pakistan, Iraq,
        Malaysia, Italy, Belgium while Nigeria, Gulf Cooperation Council (GCC) Countries, Bangladesh, India, Singapore,
        Indonesia and China are on-line to start trading in the near future.
      </p>

      <p>
        It has got the heritage and familiarity of a large chain, but it feels like a liberated restaurant, thanks to
        the team that works there and the values it was built uponWhilst we are always aware that developing and
        implementing an
        international franchising strategy could start us on the road to becoming the next global brand, we knew that
        the groundwork has to be laid firmly. Structuring the product offering, looking for master franchisees and
        qualified brand
        ambassadors in other countries require expert assistance and considerable research into the chosen overseas
        markets.
      </p>
      <p>
        ​ The high and ever increasing numbers of international enquiries, along with optimum support from the head of
        the company, are the keys to CHICKEN COTTAGE becoming one of the leading franchises. We believe that we have the
        brand power and
        are ready capitalise the market growth and to expand our international presence.
      </p>

    </div>
  </section>

  <!-- FOOTER SECTION -->
  <%- include('partials/footer'); %>