<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/faqStyle.css">
  <script src="jquery-3.5.1.min.js"></script>

  <%- include('partials/header'); %>

  <section id="FAQ">
    <div class="container-fluid">
      <h1 class="head" style="color: red; font-weight: 700; font-size: 2.5rem; padding: 0 0 0 20%;">FAQ</h1>
    </div>
    <hr style="height: 2px; margin-bottom: 0; border-width: 0; background-color: red; margin-top: 0" /><br>
    <div class="container-fluid" style="text-align: left;padding: 0 0 0 20%;">
      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> Why us?</h4>
      </button>
      <div class="myDIV">
        <p>
        <p>We, at Chicken Cottage, have a proven track record and are recognised leaders in this field. Food may be a
          necessity for life however fast food doesn’t have to be, people can exercise choice. The public demands value
          and quality for money and Chicken Cottage meets and exceeds these demands. We constantly strive to rise above
          the traditional ‘fast food joint’ image to evoke a more discerning dining experience in both our product
          offering and the ambience of the venue.</p>
        <p>Our business model ensures that franchises do not have to sacrifice quality or standards to make an
          excellent living. Our investment in the elevation of the company profile has subsequently increased profits.
          We have developed a strong, positive brand identity and this has raised the company profile, sustaining a
          long-term presence in an increasingly competitive market. This has been demonstrated by the company’s
          substantial profit margin ensuring a serious return for your investment.</p>
        <p>A franchise with Chicken Cottage rewards hard work and offers a standard of living for the Franchise and
          their family that few other business opportunities would afford them.</p>
        <p>Our product is a high quality business set- up offered at an affordable price, half the price of many other
          equivalent franchises. The management of Chicken Cottage took the risks to bring you the rounded, proven and
          trusted, quality business opportunity that we offer today. We put in the finances and stepped into the
          unknown, carried out the research and tested the products and business model so you don’t have the worry</p>
        </p>
      </div><br><br>
      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> Why the fast food industry?</h4>
      </button>
      <div class="myDIV">
        <p>
        <p>It is recognised that our sector of the food industry is ‘bucking the trend’ and reporting a healthy growth
          during the recent challenging financial times. Also, unlike many other types of business, it is fairly easy
          and straight forward to set up this type of enterprise.</p>
        <p>Since food is a necessity for life, the fast food industry is a lucrative business and one that will always
          generate a profitable income. It attracts individuals from all walks of life, whether it is the young, the
          old, students, or a treat for the whole family. Research is indicative that fast food is increasingly
          recognised as an important food option for leisure or convenience purposes.</p>

        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> How much upfront invetment would be required?</h4>
      </button>
      <div class="myDIV">
        <p>
        <p>For an estimated upfront investment of from £150,000 you can set up a Chicken Cottage franchise Unit.</p>
        <p>This includes for the shop fitting, everything from sign board and counter top to all the furniture but
          excludes the cost of Equipment and acquiring the unit.</p>

        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> What on-going support do you offer?</h4>
      </button>
      <div class="myDIV">
        <p>
        <p>We provide in-house training and ‘Franchise Forums’ where different guest speakers can give presentations on
          a variety of topics. We actively advertise and never forget that our franchisees’ success and our own is
          entwined. </p>
        <p>Our award winning senior management are highly skilled and their business acumen has been recognised as such.
        </p>
        <p>Our dedicated support team works hard to pro-actively assist and guide our franchisees.</p>

        </p>
      </div><br><br>



      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> How much work is invloved for me?</h4>
      </button>
      <div class="myDIV">
        <p>
        <p>Not a lot of work is required from the franchisees mainly because the business set up is already in place and
          all the franchisee needs to do is follow our guidelines.Irrespective of their previous work experience,
          Franchisees are trained by us to be managers of their units and we ensure they are guided every step of the
          way to setting up and running their own business.</p>
        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> How are your Franchises holding up in a turbulent financial climate?</h4>
      </button>

      <div class="myDIV">
        <p>
        <p>People still want to eat out, but economically – we fit the bill!In support of our franchisees we are
          constantly developing strategies and introducing ways that our franchisees can maximise their profits and stay
          ahead of the game.</p>
        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> How do you intend to keep up this momentum?</h4>
      </button>

      <div class="myDIV">
        <p>
        <p>Chicken Cottage invest heavily in research and development and marketing and both management and franchisees
          share the costs as well as the rewards and benefits. These economies of scale reflect on all our balance
          sheets. By anticipating customers’ real needs and reacting to an evolving society we have seen a rapid growth
          in the number or our restaurants (and, therefore, our business) around the world.</p>
        </p>
      </div><br><br>


      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> Does a franchise tend to just put in a manager</h4>
      </button>

      <div class="myDIV">
        <p>
        <p>We encourage our franchisees to be moderately involved in their operations – it’s not tough but requires
          dedication and commitment.The reason we want our franchisees to manage their stores themselves is because a
          store run by the owner has less costs and therefore a higher profit margin than that of a store run by a
          manager.</p>
        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> What trainig will i recieve?</h4>
      </button>

      <div class="myDIV">
        <p>
        <p>• Minimum of 4 weeks in store training.</p>
        <p>• Administrative support.</p>
        <p>• Managing the P&L.</p>
        <p>• Day at franchise support centre.</p>

        </p>
      </div><br><br>

      <button class="read" style="color:red; border:white;background-color:white"><i class="fa fa-plus"></i>
        <h4> what makes a great chicken cottage franchise?</h4>
      </button>

      <div class="myDIV">
        <p>
        <p>• Customer focus</p>
        <p>• Product quality</p>
        <p>• Willing partnership</p>
        <p>• Commitment to Chicken Cottage brand.
        <p>
        </p>
      </div><br>
    </div>
  </section>
  <br><br><br><br>
  <%- include('partials/footer'); %>