<html>

<head>
  <link rel="stylesheet" href="css/franchise.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>




  <%- include('partials/header'); -%>

  <br /><br />

  <!--|||||||||||||||||||||||||||||||||||||||||||TITLE|||||||||||||||||||||||||||||||||||||||-->
  <section id="title">

    <div class=" container-fluid" id="franchise" style="background-color: white; ">

      <img src="../images/house.png" style="width: 100%; height: inherit;" alt="">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10">
          <h1 style="color: red; font-weight: 700; font-size: 3.5rem">Join us, Become a franchise</h1>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 " style="text-align: center">
          <a href="./apply"> <button class="title-button" style="border:3px solid red;">Apply</button> </a>
          <a href="./FAQ"> <button class="title-button">FAQ</button> </a>
        </div>
      </div>
    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: red; margin-top: 0" />
  </section>
  <!--||||||||||||||||||||||||||||||||||||||||||||||||Section2|||||||||||||||||||||||||||||||||||||-->
  <section id="unordered">
    <div class="container list" style="padding: 2%; padding-right: 30%;">
      <ul style="background-color: white; border: 1px solid red;padding: 3%;">
        <ul>
          <h1 style="color: red; font-size: 1.9rem;">What you'll need?</h1>
          <br />

          <li style="list-style-type: none; color:black; font-size: 1rem; font-weight: 1rem"> 1. Management Skills</li>

          <li style="list-style-type: none; color: black; font-size: 1rem; font-weight: 1rem"> 2.Full-time
            commitment</b></li>

          <li style="list-style-type: none; color: black; font-size: 1rem; font-weight: 1rem"> 3.Strong interest and
            passion in the brand</li>

          <br />

          <h1 style="color:red; font-size: 1.9rem;">How will we help you?</h1>

          <br />

          <li style="list-style-type: none; color: black; font-size: 1rem">
            1. Franchisee & Management Training
          </li>

          <li style="list-style-type: none; color:black; font-size: 1rem">
            2. Full Total Quality Manuals & Standard Operating Procedures
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            3. Supply Chain Management
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            4. Supply proprietary branded /unbranded products
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            5. Legal Support </b>
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            6. HR & Corporate Strategy Support
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            7. Business Development
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            8. Performance Support & Monitoring
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            9. IT Infrastructure
          </li>
          <li style="list-style-type: none; color: black; font-size: 1rem">
            10. Advertising & Promotions
          </li>
        </ul>
    </div>
    <div class="container-fluid">
      <div class="col-lg-12">
        <img src="./images/office.jpg" alt="" style="width: 100%; height: 500px; padding: 5%" />
      </div>
    </div>
  </section>

  <!--
  |||||||||||||||||||||||||||||||||||| EYE ON THE  FUTUREEE||||||||||||||||||||||||||||||||
-->
  <section id="EOF" style="width: 100%">
    <div class="container-fluid" style="padding: 0 7.6%;">
      <h1 style="color: red; font-weight: 700">With an Eye on the Future</h1>
    </div>
    <hr style="height: 4px; margin-bottom: 0; border-width: 0; background-color: red; margin-top: 0" />

    <div class="container-fluid" style="padding: 0 7.8%;">
      <br>
      <div class="row">

        <div class="col-lg-7 col-md-12 theory" style="border:1px solid red;padding:1%; background-color: white;">
          <p>
            With all this success comes great responsibility. Chicken Cottage has the task of maintaining high standards
            and managing expectations. Our growth has provided additional tax revenues and job opportunities,
            particularly in the U.K.
            raising our company profile significantly.
          </p>
          <p>
            As with our evolving store layout we have kept our menu up-to-date and fresh. We started off with fried
            chicken and accompaniments and then extended our healthier options and vegetarian range to appeal to the
            increasing market appetite
            in these areas. Our latest offerings include Kebab Wraps and Crispy Chicken. Where there is a demand we
            seize the opportunity.
          </p>
          <p>
            Brand image maintenance is imperative if Chicken Cottage is to sustain a competitive, long term presence in
            the fast food industry. However, no matter how well the brand image is portrayed or how hard Chicken Cottage
            management work,
            the Franchisees are responsible for the success of innovative ideas and products since they are primarily in
            contact with customers. It is their enthusiasm and customer service that will reflect the company as a whole
            as well as
            determine whether the experience is such that it will bring the customer back time and time again.
          </p>
          <p>Put your business acumen and skills to good use for your own benefit. For all, a Chicken Cottage Franchise
            offers a solid and supported business venture where you will be rewarded both financially and in terms of
            self- fulfilment.</p>
          <p>
            So now you’re convinced of the benefits of a Chicken Cottage fast food franchise. What next? It couldn’t be
            simpler! Below is a simplified breakdown of the steps involved that need to be carried out in order to be
            considered as a
            franchisee.
          </p>
        </div>
        <div class="col-lg-5 col-md-12 app"><img style="width: 100%;" src="../images/EOF.png" alt="" /></div>
      </div>
    </div>
    </div>
  </section>
  <br />
  <br />
  <%- include('partials/footer'); -%>