body {
  margin: 0;
  background-image: url("../images/backgroundPic.jpg");
  background-size: 130rem;
  background-color: rgba(255, 255, 255, 0.6) !important;
  background-blend-mode: lighten !important;
}
.social-icons {
  width: 30px;
  height: 30px;
}
.icons {
  color: black;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 15px;
  color: black !important;
}
.nav-link:hover {
  color: #8b0000 !important;
}
.navbar-brand {
  margin-bottom: -12px;
}
h3 {
  display: inline;
  font-size: 1rem !important;
}
.no-block {
  display: inline;
}
/*
Form
  */
#general {
  margin-top: 160px;
}

input {
  padding: 2% 0;
}

input,
textarea {
  border: 1px solid #dddddd;
}

.col-lg-6 span {
  font-weight: 600;
}

.button {
  padding: 1% 5%;
  color: white;
  background-color: red;
  border-width: 0;
}
.button:hover {
  border-width: 1px;
  color: red;
  background-color: white;
}
@media (min-width: 300px) and (max-width: 750px) {
  /*
||||||||||||||||||||||| styling the header and the menu options||||||||||||||||||||||||||||||||||||||||||
    */
  .nav-logo {
    margin-left: 42%;
  }

  #top li {
    font-size: 27px !important;
  }
  .nav-link {
    font-size: 2rem !important;
    font-weight: 700 !important;
  }
  .navbar {
    min-height: 250px !important;
  }
  .navbar-toggler {
    font-size: 30px !important;
  }
  .navbar-brand img {
    height: 150px !important;
    width: 150px !important;
  }
  #Financial {
    margin-top: 200px !important;
    height: auto !important;
    width: 100% !important;
  }
  .data p {
    font-size: 1.5rem !important;
  }
  .theform {
    width: 1000px !important;
  }
  .alldata span {
    font-size: 30px !important;
  }
  input {
    height: 80px !important;
    font-size: 30px !important;
  }
  #male {
    font-size: 40px !important;
  }
  h3 {
    font-size: 1.5rem;
  }
  .title-text {
    font-size: 1.8rem;
  }
  #response {
    top: 300px !important;
  }
  /* input[type="radio"]  {
      width: 20px !important;
  }
     */
}
@media (min-width: 750px) and (max-width: 1000px) {
  /*
||||||||||||||||||||||| styling the header and the menu options||||||||||||||||||||||||||||||||||||||||||
    */
  .nav-logo {
    margin-left: 42%;
  }
  h3 {
    font-size: 1.5rem;
  }
  .title-text {
    font-size: 1.8rem;
  }
  .no-block {
    display: block;
  }
  .button {
    font-size: 1.8rem;
  }

  #top li {
    font-size: 27px !important;
  }
  .nav-link {
    font-size: 2rem !important;
    font-weight: 700 !important;
  }
  .navbar {
    min-height: 250px !important;
  }
  .navbar-toggler {
    font-size: 30px !important;
  }
  .navbar-brand img {
    height: 150px !important;
    width: 150px !important;
  }
  #Financial {
    margin-top: 200px !important;
    height: auto !important;
    width: 100% !important;
  }
  .data p {
    font-size: 1.5rem !important;
  }
  .theform {
    width: 1000px !important;
  }
  /* /|||||||||||||stylin the input fields and form||||||||||||||||||||||||/ */
  span {
    font-size: 30px !important;
  }
  input {
    font-size: 30px !important;
  }
  .male {
    font-size: 25px !important;
  }
  .checkbox {
    zoom: 1.5;
  }
  input[type="radio"] {
    zoom: 1.2;
  }
  #response {
    top: 300px !important;
  }
}
@media (min-width: 640px) and (max-height: 600px) {
  .navbar {
    min-height: 100px !important;
  }
}
