.title-button {
  background-color: #0154a2;
  color: white;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 5px;
  padding: 10px;
  border-width: 0;
  box-shadow: 1px 1px 3px grey;
}
.title-button:hover {
  background-color: red;
}