body {
    margin: 0;
  
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.6) !important;
    background-blend-mode: lighten !important;
  }
  .social-icons {
    width: 30px;
    height: 30px;
  }
  .icons {
    color: black;
  }
  
  .nav-link {
    font-size: 1.2rem;
    margin: 0 15px;
    color: black !important;
  }
  .nav-link:hover {
    color: #8b0000 !important;
  }
  .navbar-brand {
    margin-bottom: -12px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  
  /* ||||||||||||||||the main section||||||||||||||||||*/
  #title {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 140px;
    margin-bottom: 10px;
  }
  .Crispy {
    background-image: url("../images/Sidesmain.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100rem;
  }
  #title h1 {
    font-size: 7rem;
    color: black;
    font-weight: 600;
  }
  
  .left {
    float: left;
    display: inline;
    padding: 0 5% 15%;
  }
  div.final-list {
    text-align: center;
  }
  ul {
    display: inline-block;
    /* text-align: left; */
  }
  ul li {
    color: red;
  }
  
  .row {
    width: 100%;
  }
  
  @media (min-width: 750px) and (max-width: 1000px) {
    .nav-logo {
      margin-left: 42%;
    }
    .nav-link {
      font-size: 2rem !important;
      font-weight: 700 !important;
    }
    .navbar {
      min-height: 250px !important;
    }
    .navbar-toggler {
      font-size: 30px !important;
    }
    .navbar-brand img {
      height: 150px !important;
      width: 150px !important;
    }
    body {
      background-size: 130rem !important;
    }
    #title {
      margin-top: 220px;
    }
    #title h1 {
      margin-top: 30px;
      font-size: 4.5rem;
    }
    .Crispy {
      margin-top: 20px;
      background-size: 70rem;
    }
    div.final-list {
      text-align: center;
    }
    ul {
      display: inline-block;
    }
  
    ul p {
      font-size: 25px;
      color: black;
    }
    ul li {
      color: red;
    }
  }
  